@font-face {
  font-family: 'Nulshock';
  src: url('src/assets/fonts/Nulshock.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('src/assets/fonts/Exo.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'ExoMedium';
  src: url('src/assets/fonts/Exo-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'ExoBold';
  src: url('src/assets/fonts/Exo-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'ExoExtraBold';
  src: url('src/assets/fonts/Exo-ExtraBold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'ExoBlack';
  src: url('src/assets/fonts/Exo-Black.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Bruno';
  src: url('src/assets/fonts/Bruno.ttf') format('truetype');
  font-display: swap;
}