@font-face {
  font-family: 'Nulshock';
  src: url('src/assets/fonts/Nulshock.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Exo';
  src: url('src/assets/fonts/Exo.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'Bruno';
  src: url('src/assets/fonts/Bruno.ttf') format('truetype');
  font-display: swap;
}