@import "src/assets/scss/menu/menu_icon";

$nav-height: 80px;

nav {
  background: transparent;
  display: flex;
  height: $nav-height;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 100;
  transition: all ease-in-out 0.3s;

  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 100%;
    height: 56px;
    overflow: hidden;
    border-right: none;

    &.nav-expanded {
      height: 100%;
      position: fixed;
      z-index: 5;
      top: 0;
      background: #1C1D23;

      @include media-breakpoint-down(md) {
        border-bottom: none !important;
      }

      .logo {
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;

        @include media-breakpoint-down(md) {
          transform: scale(1.1);
        }
      }

      .menu-icon {
        div {
          position: relative;

          span {
            top: 50%;
          }

          span:nth-of-type(1) {
            transform: translateY(-50%) rotate(45deg);
          }
          span:nth-of-type(2) {
            transform: translateY(-50%) rotate(135deg);
          }
        }
      }
    }
  }

  &.slim-navbar {
    background: #1c1d23;
    border-bottom: 1px solid #bdc8c9;
  }

  .nav-container {
    display: flex;
    justify-content: center;
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    padding-left: 36px;
    padding-right: 36px;

    @include media-breakpoint-down(md) {
      top: 0;
      height: 100%;
    }

    .logo {
      width: 37px;
      height: 39px;
      transition: all ease-in-out 0.2s;

      &:hover {
        transform: scaleX(-1);
        cursor: pointer;
      }

      @include media-breakpoint-down(md) {
        width: 28px;
        height: 28px;
        position: fixed;
        left: 21px;
        top: 16px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }

    .nav-links {
      margin: 0 auto;
      display: flex;
      gap: 20px;
      width: 100%;
      padding-left: 24px;
      padding-right: 24px;
      align-items: center;
      justify-content: flex-end;
      transition: opacity 0.5s ease-in-out;

      @include media-breakpoint-down(md) {
        flex-direction: column;
        opacity: 0;
        pointer-events: none;

        &.nav-expanded {
          opacity: 1;
          pointer-events: initial;
          justify-content: flex-start;
          padding-top: 100px;
        }
      }

      a {
        text-decoration: none;
        font-family: 'Bruno', sans-serif;
        transition: color ease-in-out 0.2s;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        color: rgba(243, 243, 243, 0.8);

        @include media-breakpoint-down(md) {
          font-size: 16px;
          line-height: 32px;
        }

        &:hover {
          color: rgba(243, 243, 243, 1);
        }
      }

      .router-link-active {
        color: rgba(243, 243, 243, 1);
        position: relative;

        &:after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          width: 100%;
          height: 1px;
          background: #D02536;
          border-radius: 5px;
        }
      }
    }
  }
}

.nav-offset {
  margin-top: $nav-height;
}