@import "src/assets/scss/menu/menu_icon";

nav {
  background: #181818;
  display: flex;
  height: 100vh;
  width: 170px;
  min-width: 170px;
  align-items: flex-start;
  flex-direction: column;
  border-right: 1px solid #8c8c8c;
  position: relative;
  transition: all ease-in-out 0.3s;

  @include media-breakpoint-down(md) {
    position: fixed;
    top: 0;
    width: 100%;
    min-width: 100%;
    height: 56px;
    overflow: hidden;
    border-right: none;

    &.nav-expanded {
      height: 100%;
      position: absolute;
      z-index: 5;
      top: 0;

      .logo {
        transform: scale(1.2);
      }
    }
  }

  .logo {
    font-family: "Unbounded", cursive;
    color: white;
    font-size: 1rem;
    font-weight: 400;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    position: relative;
    transition: all ease-in-out 0.3s;

    &:after {
      content: "";
      background: white;
      height: 1px;
      width: 40px;
      position: absolute;
      bottom: 8px;
    }
  }

  .nav-container {
    margin: 0 auto;
    display: flex;
    gap: 20px;
    width: 100%;
    padding-top: 6rem;
    padding-left: 24px;
    padding-right: 24px;
    flex-direction: column;

    a {
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none;
      font-family: 'Unbounded', cursive;
      transition: all ease-in-out 0.2s;
      font-size: 12px;
      line-height: 150%;

      @include media-breakpoint-down(md) {
        font-size: 16px;
      }

      &:hover {
        color: rgba(255, 255, 255, 1);
      }
    }

    .router-link-active {
      color: rgba(255, 255, 255, 1);
    }
  }
}