@import "./bootstrap/scss/bootstrap-grid.scss";
@import "src/assets/scss/menu/navigation";
@import "src/assets/scss/menu/footer";
@import "src/assets/scss/menu/fonts";

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  background: #e2e2e2;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #1C1D23;
}

//Team colors

.team-color {
  &.mercedes {
    background: #02D2BE;
  }

  &.ferrari {
    background: #FE0000;
  }

  &.red_bull {
    background: #171961;
  }

  &.aston_martin {
    background: #035850;
  }

  &.mclaren {
    background: #FF8801;
  }

  &.haas {
    background: #EE1A3B;
  }

  &.alfa {
    background: #9B0000;
  }

  &.alpine {
    background: #0E1C2C;
  }

  &.alphatauri {
    background: #262851;
  }

  &.williams {
    background: #02A9EC;
  }
}

.team-gradient {
  &.mercedes {
    background: radial-gradient(circle, rgba(2,210,190,1) 0%, rgba(0,0,0,1) 150%);
  }

  &.ferrari {
    background: radial-gradient(circle, rgba(254,0,0,1) 0%, rgba(0,0,0,1) 150%);
  }

  &.red_bull {
    background: radial-gradient(circle, rgba(23,25,97,1) 0%, rgba(0,0,0,1) 150%);
  }

  &.aston_martin {
    background: radial-gradient(circle, rgba(3,88,80,1) 0%, rgba(0,0,0,1) 150%);
  }

  &.mclaren {
    background: radial-gradient(circle, rgba(255,136,1,1) 0%, rgba(0,0,0,1) 150%);
  }

  &.haas {
    background: radial-gradient(circle, rgba(238,26,59,1) 0%, rgba(0,0,0,1) 150%);
  }

  &.alfa {
    background: radial-gradient(circle, rgba(155,0,0,1) 0%, rgba(0,0,0,1) 150%);
  }

  &.alpine {
    background: radial-gradient(circle, rgba(14,28,44,1) 0%, rgba(0,0,0,1) 150%);
  }

  &.alphatauri {
    background: radial-gradient(circle, rgba(38,40,81,1) 0%, rgba(0,0,0,1) 150%);
  }

  &.williams {
    background: radial-gradient(circle, rgba(2,169,236,1) 0%, rgba(0,0,0,1) 150%);
  }
}

/* we will explain what these classes do next! */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.list-move, /* apply transition to moving elements */
.list-enter-active,
.list-leave-active {
  transition: all 0.5s ease;
}

.list-enter-from,
.list-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/* ensure leaving items are taken out of layout flow so that moving
   animations can be calculated correctly. */
.list-leave-active {
  position: absolute;
}

.bounce-enter-active {
  animation: bounce-in 0.4s;
}

.bounce-leave-active {
  animation: bounce-in 0.4s reverse;
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.slide-fade-enter-active {
  transition: all 0.3s ease-out;
}

.slide-fade-leave-active {
  transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-enter-from,
.slide-fade-leave-to {
  transform: translateX(20px);
  opacity: 0;
}

.page {
  display: block;
  overflow: hidden;

  @include media-breakpoint-down(md) {
    display: initial;
  }

  .container {
    overflow: hidden;
  }

  h1 {
    font-family: 'Nulshock', cursive;
    color: #0a0a0a;
    margin-top: 0;
    margin-bottom: 1rem;

    @include media-breakpoint-down(md) {
      font-size: 28px;
    }
  }

  p {
    font-family: 'Exo', sans-serif;
    color: #0a0a0a;
    margin-top: 0;
  }

  .mb-2 {
    margin-bottom: 2rem;
  }

  .btn {
    width: 265px;
    height: 52px;
    display: flex;
    font-family: 'ExoMedium', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #F3F3F3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 auto;

    &.btn-red {
      background: #D02536;
    }
  }

  .home {
    background: #1C1D23;

    #hero {
      width: 100%;
      height: 700px;
      position: relative;
      overflow: hidden;

      @include media-breakpoint-down(md) {
        height: 650px;
      }

      picture {
        position: absolute;
        display: block;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 70%;

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
          object-position: 50% 70%;

          @include media-breakpoint-down(md) {
            object-position: 46% 70%;
          }
        }
      }

      &:before {
        content: "";
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 520px;
        background: linear-gradient(180deg, #000000 0%, rgba(28, 29, 35, 0) 100%);
      }

      .content {
        position: relative;
        z-index: 2;
        padding-top: 240px;
        display: flex;
        flex-direction: column;
        align-items: center;

        @include media-breakpoint-down(md) {
          padding-left: 3rem;
          padding-right: 3rem;
        }

        h1 {
          font-family: 'Nulshock', sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 72px;
          line-height: 86px;
          text-align: center;
          color: #F3F3F3;

          @include media-breakpoint-down(md) {
            font-size: 36px;
            line-height: 43px;
          }
        }

        p {
          font-family: 'Exo', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 32px;
          line-height: 43px;
          color: #F3F3F3;
          margin-bottom: 0;

          @include media-breakpoint-down(md) {
            font-size: 18px;
            line-height: 24px;
          }
        }

        .country-title {
          font-family: "Nulshock", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 32px;
          line-height: 86px;
          text-align: center;
          color: #F3F3F3;
        }

        &.re-order {
          h1 {
            order: 1;
          }

          .country-title {
            order: 2;
            animation: breathing 3s ease-out infinite normal;
            -webkit-font-smoothing: antialiased;
          }

          span {
            order: 3;

            p {
              margin-bottom: 1.5rem;
            }
          }

          .btn {
            order: 4;
          }
        }

        @keyframes breathing {
          0% {
            transform: scale(1);
          }

          50% {
            transform: scale(1.2);
          }

          100% {
            transform: scale(1);
          }
        }
      }
      .img-credit {
        position: absolute;
        bottom: 0;
        right: 22px;
        font-family: "Exo", sans-serif;
        font-size: 14px;
        line-height: 43px;
        color: #F3F3F3;
        z-index: 2;
        opacity: 0.2;

        a {
          text-decoration: none;
          color: #F3F3F3;
        }
      }
    }
    #upcoming {
      background: #1C1D23;
      padding-top: 80px;
      padding-bottom: 120px;
      position: relative;

      &:before {
        content: "";
        position: absolute;
        height: 167px;
        width: 100%;
        top: -167px;
        background: linear-gradient(0deg, #1c1d23 0%, rgba(28, 29, 35, 0) 100%);
      }

      .container {
        max-width: 990px;
        overflow: visible;
      }

      .content {
        h2 {
          font-family: 'Bruno', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 58px;
          color: #F3F3F3;
          text-align: left;
          margin-bottom: 50px;
        }

        .next {
          .race {
            padding-bottom: 21px;
            margin-top: 21px;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #F3F3F3;
            text-decoration: none;
            transition: all ease-in-out 0.2s;

            &:hover {
              transform: scale(1.05);
            }

            .info {
              .upper-title {
                font-family: 'Exo', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #F3F3F3;
                margin-bottom: 5px;
              }

              .grand-prix {
                font-family: 'Bruno', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 32px;
                line-height: 39px;
                text-align: center;
                color: #F3F3F3;
                margin-bottom: 8px;
              }

              .circuit {
                font-family: 'Exo', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 19px;
                color: #F3F3F3;
              }
            }

            .date {
              font-family: 'Bruno', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 32px;
              line-height: 39px;
              text-align: right;
              color: #F3F3F3;
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }

  #news {
    &.embed {
      background: #F3F3F3;
      height: 40px;
      width: 100%;
      transition: all ease-in-out 0.2s;
      position: relative;

      &:hover {
        transform: scale(1.1);
      }

      .embed-wrap {
        height: 100%;
      }

      $duration: 360s;

      .overlay {
        font-family: "Bruno", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 42px;
        text-align: center;
        height: 100%;
        width: 210px;
        position: absolute;
        z-index: 2;
        border-width: 0px 2px 2px 2px;
        border-style: solid;
        border-color: #FFFFFF;
        border-radius: 5px;
        left: calc(50% - 990px / 2 + 105px);
        transform: translateX(-50%);
        bottom: -40px;

        a {
          color: #F3F3F3;
          background: #1C1D23;
          text-decoration: none;
        }
      }

      .content {
        display: inline-block;
        white-space: nowrap;
        padding-right: 100%;
        box-sizing: content-box;
        height: 100%;
        overflow: hidden;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
        -webkit-animation-name: ticker;
        animation-name: ticker;
        -webkit-animation-duration: $duration;
        animation-duration: $duration;

        .news-item {
          display: inline-block;
          padding-left: 2rem;
          padding-right: 2rem;
          height: 100%;

          a {
            font-family: "Exo", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 19px;
            color: #1C1D23;
            text-decoration: none;
            display: flex;
            align-items: center;
            height: 100%;
            transition: all ease-in-out 0.2s;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }

      @keyframes ticker {
        0% {
          transform: translate3d(0, 0, 0);
          visibility: visible;
        }

        100% {
          transform: translate3d(-100%, 0, 0);
        }
      }
    }

    &.page-view {
      background: #1C1D23;
      padding-top: 150px;
      padding-bottom: 120px;

      .container {
        max-width: 990px;
      }

      .row {
        .content {
          margin-bottom: 60px;
          max-width: 600px;

          @include media-breakpoint-down(md) {
            margin: 0 auto 60px;
            padding-left: 2rem;
            padding-right: 2rem;
          }

          h1 {
            font-family: 'Bruno', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 58px;
            color: #F3F3F3;
            margin-bottom: 8px;
            text-align: left;

            @include media-breakpoint-down(md) {
              text-align: center;
            }
          }

          p {
            font-family: 'Exo', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #F3F3F3;
            margin-bottom: 0;
            text-align: left;

            @include media-breakpoint-down(md) {
              text-align: center;
            }
          }
        }

        &.article {
          margin-bottom: 2rem;

          &:hover {
            .thumb-img {
              transform: scale(1.2);
            }

            .news-title {
              text-decoration: underline;
            }
          }

          .img-wrap {
            overflow: hidden;
          }

          .thumb-img {
            max-width: 100%;
            width: 100%;
            transition: all ease-in-out 0.2s;
          }

          a {
            text-decoration: none;

            .news-published {
              font-family: 'Exo', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 27px;
              color: #F3F3F3;
              margin-bottom: 0;
              text-align: left;
            }

            .news-title {
              font-family: 'ExoBold', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 27px;
              color: #F3F3F3;
              margin-bottom: 0;
              text-align: left;
            }

            .news-description {
              p {
                font-family: 'Exo', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 27px;
                color: #F3F3F3;
                margin-bottom: 0;
                text-align: left;

                a {
                  color: #F3F3F3;
                  text-decoration: none;
                }
              }
            }
          }
        }

      }
    }
  }

  #calendar {
    &.embed {
      background: #F3F3F3;
      padding-top: 80px;
      padding-bottom: 45px;
      overflow: hidden;

      .container {
        max-width: 990px;
      }

      .row {
        .content {
          margin-bottom: 60px;
          max-width: 600px;

          @include media-breakpoint-down(md) {
            margin: 0 auto 60px;
            padding-left: 2rem;
            padding-right: 2rem;
          }

          h2 {
            font-family: 'Bruno', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 58px;
            color: #1C1D23;
            margin-bottom: 8px;
            text-align: left;

            @include media-breakpoint-down(md) {
              text-align: center;
            }
          }

          p {
            font-family: 'Exo', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #1C1D23;
            margin-bottom: 0;
            text-align: left;

            @include media-breakpoint-down(md) {
              text-align: center;
            }
          }
        }

        .events {
          .swiper-grid {
            max-height: 470px;
          }

          .event-card {
            background: #1C1D23;
            border-radius: 5px;
            width: 226px;
            height: 226px;
            padding: 36px 28px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 18px;
            transition: background-color 0.3s ease;
            justify-content: center;
            text-decoration: none;

            &:hover {
              background: #2e303a;

              .event-img {
                transform: scale(1.1);
              }
            }

            .event-img {
              width: 84px;
              height: 51px;
              margin-bottom: 12px;
              transition: transform 0.3s ease;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 5px;
              }
            }

            .event-country {
              font-family: Bruno, sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 19px;
              line-height: 22px;
              text-align: center;
              color: #F3F3F3;
              position: relative;
              margin-bottom: 10px;
            }

            .event-date {
              display: flex;
              flex-direction: column;
              align-content: center;
              justify-content: center;
              flex-wrap: wrap;

              .event-weekend-date {
                font-family: Exo, sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
                text-align: center;
                color: #F3F3F3;
                margin-bottom: 6px;
              }

              .event-month {
                width: 70px;
                height: 26px;
                background: #F3F3F3;
                border-radius: 5px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                font-family: Exo, sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                text-align: center;
                color: #1C1D23;
                text-transform: uppercase;
              }
            }
          }
        }

        .btn-dark {
          background: #1C1D23;
          color: #F3F3F3;
          margin-top: calc(40px - 18px);
        }
      }
    }

    &.page-view {
      background: #1C1D23;
      padding-top: 150px;
      padding-bottom: 120px;

      .container {
        max-width: 990px;
      }

      .row {
        .content {
          margin-bottom: 60px;
          max-width: 600px;

          @include media-breakpoint-down(md) {
            margin: 0 auto 60px;
            padding-left: 2rem;
            padding-right: 2rem;
          }

          h2 {
            font-family: 'Bruno', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 58px;
            color: #F3F3F3;
            margin-bottom: 8px;
            text-align: left;

            @include media-breakpoint-down(md) {
              text-align: center;
            }
          }

          p {
            font-family: 'Exo', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #F3F3F3;
            margin-bottom: 0;
            text-align: left;

            @include media-breakpoint-down(md) {
              text-align: center;
            }
          }
        }

        .events {
          .event-card {
            background: #F3F3F3;
            border-radius: 5px;
            width: 226px;
            height: 226px;
            padding: 36px 28px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 18px;
            transition: background-color 0.3s ease;
            justify-content: center;
            text-decoration: none;

            &:hover {
              background: #b2b2b2;

              .event-img {
                transform: scale(1.1);
              }
            }

            .event-img {
              width: 84px;
              height: 51px;
              margin-bottom: 12px;
              transition: transform 0.3s ease;

              img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                border-radius: 5px;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
              }
            }

            .event-country {
              font-family: Bruno, sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 19px;
              line-height: 22px;
              text-align: center;
              color: #1C1D23;
              position: relative;
              margin-bottom: 10px;
            }

            .event-date {
              display: flex;
              flex-direction: column;
              align-content: center;
              justify-content: center;
              flex-wrap: wrap;

              .event-weekend-date {
                font-family: Exo, sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 21px;
                text-align: center;
                color: #1C1D23;
                margin-bottom: 6px;
              }

              .event-month {
                width: 70px;
                height: 26px;
                background: #1C1D23;
                border-radius: 5px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                font-family: Exo, sans-serif;
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                text-align: center;
                color: #F3F3F3;
                text-transform: uppercase;
              }
            }
          }
        }

        .btn-dark {
          background: #1C1D23;
          color: #F3F3F3;
          margin-top: calc(40px - 18px);
        }
      }
    }
  }

  #standings {
    &.embed {
      background: #1C1D23;
      padding-top: 100px;
      padding-bottom: 92px;
      overflow: hidden;

      .row {
        .content {
          margin: 0 auto 80px;
          max-width: 600px;

          @include media-breakpoint-down(md) {
            margin: 0 auto 60px;
            padding-left: 2rem;
            padding-right: 2rem;
          }

          h1, h2 {
            font-family: 'Bruno', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 58px;
            color: #F3F3F3;
            margin-bottom: 8px;
            text-align: center;
          }

          p {
            font-family: 'Exo', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #F3F3F3;
            margin-bottom: 0;
            text-align: center;
          }
        }

        .standings {
          display: flex;
          justify-content: center;
          gap: 24px;
          max-width: 778px;
          margin: 0 auto;
          flex-direction: column;

          .swiper {
            padding: 1.5rem;
            margin: -1.5rem;
            box-sizing: content-box;
            max-width: 778px;

            @include media-breakpoint-down(md) {
              padding-left: 2rem;
              padding-right: 2rem;
              margin-left: 0;
              margin-right: 0;
            }

            .swiper-slide {
              @include media-breakpoint-down(md) {
                max-width: 243px;
              }
            }
          }

          .btn {
            margin-top: calc(60px - 1.5rem);
          }

          .standings-card {
            width: 243px;
            transform: translateZ(-100px);

            &:hover {
              z-index: 2;

              .driver-img {
                img {
                  filter: brightness(1.25);
                }
              }
            }

            .driver-img {
              border-radius: 5px;
              height: 206px;
              margin-bottom: 12px;
              display: flex;
              justify-content: center;
              align-content: flex-end;

              img {
                transition: filter 0.3s ease-in-out;
              }
            }

            .driver-name {
              background: #F3F3F3;
              border-radius: 5px;
              width: 243px;
              height: 44px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-family: 'ExoBold', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 27px;
              color: #1C1D23;
              margin-bottom: 10px;
            }

            .driver-pts {
              font-family: 'Bruno', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 32px;
              color: #FFFFFF;
              display: flex;
              justify-content: center;
              align-content: center;
              text-align: center;
              width: 125px;
              height: 46px;
              margin: 0 auto;
              align-items: baseline;
              gap: 8px;
              padding-top: 2px;

              border-width: 0px 2px 2px 2px;
              border-style: solid;
              border-color: #FFFFFF;
              border-radius: 5px;
            }
          }
        }

        .btn-white {
          background: #F3F3F3;
          color: #1C1D23;
        }
      }
    }

    &.page-view {
      background: #1C1D23;
      padding-top: 150px;
      padding-bottom: 120px;
      overflow: hidden;

      .row {
        .content {
          margin: 0 auto 80px;
          max-width: 600px;

          @include media-breakpoint-down(md) {
            margin: 0 auto 60px;
            padding-left: 2rem;
            padding-right: 2rem;
          }

          h1, h2 {
            font-family: 'Bruno', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 58px;
            color: #F3F3F3;
            margin-bottom: 8px;
            text-align: center;
          }

          p {
            font-family: 'Exo', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #F3F3F3;
            margin-bottom: 0;
            text-align: center;
          }
        }

        .standings {
          &.flex-layout {
            display: flex;
            justify-content: center;
            gap: 24px;
            max-width: 778px;
            margin: 0 auto;
            flex-direction: column;
          }

          &.grid-layout {
            .wrapper {
              display: grid;
              grid-template-columns: repeat(4, 1fr);
              gap: 24px;
              max-width: 1090px;
              margin: 0 auto;
            }
          }

          .swiper {
            padding: 1.5rem;
            margin: -1.5rem;
            box-sizing: content-box;
            max-width: 778px;

            @include media-breakpoint-down(lg) {
              padding-left: 2rem;
              padding-right: 2rem;
              margin: 0 auto;
            }

            .swiper-slide {
              @include media-breakpoint-down(md) {
                max-width: 243px;
              }
            }
          }

          .btn {
            margin-top: calc(60px - 1.5rem);
          }

          .standings-card {
            width: 243px;
            transform: translateZ(-100px);

            &:hover {
              z-index: 2;

              .driver-img {
                img {
                  filter: brightness(1.25);
                }
              }
            }

            .driver-img {
              border-radius: 5px;
              height: 206px;
              margin-bottom: 12px;
              display: flex;
              justify-content: center;
              align-content: flex-end;

              img {
                transition: filter 0.3s ease-in-out;
              }
            }

            .driver-name {
              background: #F3F3F3;
              border-radius: 5px;
              width: 243px;
              height: 44px;
              display: flex;
              justify-content: center;
              align-items: center;
              text-align: center;
              font-family: 'ExoBold', sans-serif;
              font-style: normal;
              font-weight: 700;
              font-size: 20px;
              line-height: 27px;
              color: #1C1D23;
              margin-bottom: 10px;
            }

            .driver-pts {
              font-family: 'Bruno', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 20px;
              line-height: 32px;
              color: #FFFFFF;
              display: flex;
              justify-content: center;
              align-content: center;
              text-align: center;
              width: 125px;
              height: 46px;
              margin: 0 auto;
              align-items: baseline;
              gap: 8px;
              padding-top: 2px;

              border-width: 0px 2px 2px 2px;
              border-style: solid;
              border-color: #FFFFFF;
              border-radius: 5px;

              background: #1c1d23;
            }
          }
        }

        .btn-white {
          background: #F3F3F3;
          color: #1C1D23;
        }
      }
    }
  }

  #teams {
    &.embed {
      background: #1C1D23;
      padding-top: 68px;
      padding-bottom: 92px;
      overflow: visible;

      @include media-breakpoint-down(lg) {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      .row {
        .content {
          margin: 0 auto 40px;
          max-width: 100%;

          @include media-breakpoint-down(md) {
            margin: 0 auto 60px;
          }

          h1, h2, h3 {
            font-family: 'Bruno', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 48px;
            line-height: 58px;
            color: #F3F3F3;
            margin-bottom: 8px;
          }

          p {
            font-family: 'Exo', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #F3F3F3;
            margin-bottom: 0;

            @include media-breakpoint-down(md) {
              text-align: left;
            }
          }
        }

        .teams {
          max-width: 486px;

          @include media-breakpoint-down(lg) {
            max-width: 100%;
          }

          .team {
            position: relative;
            display: flex;
            align-items: center;
            height: 56px;
            border-radius: 5px;
            margin-bottom: 0.5rem;
            transition: all ease-in-out 0.5s;

            &:hover {
              cursor: pointer;

              @include media-breakpoint-up(md) {
                height: 80px;

                .more {
                  opacity: 1;
                  user-select: initial;

                  &:focus {
                    color: #1C1D23;
                  }
                }
              }
            }

            .team-logo {
              height: 45px;
              width: 45px;
              margin-right: 18px;
              margin-left: 1rem;

              img {
                height: 100%;
                width: 100%;
              }
            }

            .team-name {
              font-family: 'ExoExtraBold', sans-serif;
              font-style: normal;
              font-weight: 900;
              font-size: 20px;
              line-height: 27px;
              display: flex;
              align-items: center;
              color: #F3F3F3;
              text-transform: uppercase;
            }

            .more {
              font-family: 'ExoMedium', sans-serif;
              font-style: normal;
              font-weight: 600;
              font-size: 14px;
              line-height: 19px;
              display: flex;
              align-items: center;
              text-align: center;
              text-transform: uppercase;
              color: #1C1D23;
              background: #F3F3F3;
              padding: 0.3rem 0.5rem;
              border-radius: 5px;
              position: absolute;
              right: 12px;
              top: 50%;
              transform: translateY(-50%);
              opacity: 0;
              transition: all 0.2s ease-in-out;
              user-select: none;

              a {
                text-decoration: none;
                text-underline: none;
                color: #1C1D23;
              }
            }
          }
        }

        .active-team {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;

          .team-logo {
            width: 320px;
            height: 320px;
            border-radius: 5px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 70%;
              height: 70%;
              object-fit: contain;
            }
          }
        }

        .btn-white {
          background: #F3F3F3;
          color: #1C1D23;
        }
      }
    }

    &.page-view {
      background: #1C1D23;
      padding-top: 150px;
      padding-bottom: 120px;
      overflow: hidden;

      .content {
        margin: 0 auto 40px;
        max-width: 100%;

        @include media-breakpoint-down(lg) {
          h1, h2, h3, p {
            text-align: center;
          }
        }

        @include media-breakpoint-down(md) {
          margin: 0 auto 60px;
        }

        h1, h2, h3 {
          font-family: 'Bruno', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 48px;
          line-height: 58px;
          color: #F3F3F3;
          margin-bottom: 8px;
        }

        p {
          font-family: 'Exo', sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 20px;
          line-height: 27px;
          color: #F3F3F3;
          margin-bottom: 0;
        }
      }

      &.container {
        max-width: 990px;
      }

      .teams {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 30px;
        max-width: 1090px;

        @include media-breakpoint-down(lg) {
          grid-template-columns: repeat(1, 1fr);
          max-width: 540px;
          margin: 0 auto;
        }

        @media (max-width: 504px) {
          max-width: 328px;
        }

        .team {
          position: relative;
          height: 248px;
          text-decoration: none;

          @media (max-width: 504px) {
            width: 100%;
            height: 160px;
            margin-bottom: 30px;
          }

          &:hover {
            @include media-breakpoint-up(md) {
              .car-card {
                border-color: #FFFFFF;
                cursor: pointer;

                .team-car {
                  width: 377px;
                  height: 110px;
                }
              }
            }
          }

          .car-card {
            height: 188px;
            margin-bottom: 14px;
            position: relative;
            border-width: 2px 2px 0px 2px;
            border-radius: 5px;
            border-style: solid;
            border-color: transparent;
            transition: ease-in-out all 0.3s;

            @media (max-width: 504px) {
              max-width: 328px;
              height: 121px;
              margin-bottom: 10px;
            }

            .team-logo {
              position: absolute;
              width: 35px;
              height: 35px;
              left: 16px;
              top: 16px;

              @media (max-width: 504px) {
                left: 10px;
                top: 10px;
                width: 23px;
                height: 23px;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }

            .team-car {
              position: absolute;
              width: 341px;
              height: 101px;
              left: 50%;
              transform: translateX(-50%);
              bottom: 16px;
              transition: all ease-in-out 0.2s;

              @media (max-width: 504px) {
                width: 100%;
                max-width: 220px;
                height: 65px;
                bottom: 10px;
              }

              img {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }

            .team-name {
              font-family: 'ExoExtraBold', sans-serif;
              font-style: normal;
              font-weight: 900;
              font-size: 20px;
              line-height: 27px;
              display: flex;
              align-items: center;
              color: #F3F3F3;
              text-transform: uppercase;
              position: absolute;
              top: 16px;
              right: 16px;

              @media (max-width: 504px) {
                font-size: 14px;
                line-height: 27px;
                top: 10px;
                right: 10px;
              }
            }
          }

          .drivers {
            display: flex;
            justify-content: space-between;
            gap: 36px;

            @media (max-width: 504px) {
              gap: 24px;
            }

            .driver {
              max-width: 214px;
              width: 100%;
              height: 46px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-width: 0px 2px 2px 2px;
              border-style: solid;
              border-color: #FFFFFF;
              border-radius: 5px;
              font-family: 'Bruno', sans-serif;
              font-style: normal;
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
              text-align: center;
              color: #FFFFFF;
              text-decoration: none;
              transition: all ease 0.2s;

              @media (max-width: 504px) {
                max-width: 100%;
                width: 100%;
                font-size: 12px;
                line-height: 17px;
              }

              @include media-breakpoint-up(md) {
                &.driver-left {
                  &:hover {
                    transform: scale(1.1) translateX(10px);
                  }
                }

                &.driver-right {
                  &:hover {
                    transform: scale(1.1) translateX(-10px);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}